@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&family=Merriweather&family=Montserrat+Alternates:wght@200&family=Montserrat:ital,wght@0,200;0,300;0,400;1,200;1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akatab:wght@800&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: white;
}
body{
    font-family: montserrat;
}
header{
    height: 100vh;
    width: 100%;
    background: url(bg4.png) no-repeat;
    background-size: cover;
}
nav{
    background: transparent;
    height: 80px;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid gray;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 120px;
    height: auto;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin-left: 5px;
}
nav ul li a{
    font-size: 17px;
    padding: 25px 13px;
}
a.active,a:hover{
    border-bottom:5px solid #1b9bff;
    transition: 0.01s;
}
.headerContent{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
.headerContentItem h1{
    font-size: 11vw;
}
.headerContentItem h3{
    font-size: 2vw;
    letter-spacing: 0.65em;
    color: rgb(17, 116, 158);
}
.scroll-down {
    font-size: 15px;
    margin-top: 100px;
}
.scroll-down span:hover{
    cursor: pointer;
}
.checkbtn{
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.feature{
    background-color: rgb(17, 116, 158);
    height: fit-content;
    width: 100%;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-wrapper{
    width: 80%;
    height: 100%;
}
.feature-item{
    display: flex;
    justify-content: center;
}
.feature-item h1{
    position: relative;
    font-family: 'Akatab', sans-serif;
    font-size: 200px;
    color: rgb(60, 141, 175);
}
.feature-item h3{
    position: absolute;
    z-index: 1;
    font-size: 30px;
    margin-top: 120px;
    letter-spacing: 10px;
}
.feature-item .item{
    flex: 3;
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.feature-item .item .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(60, 141, 175);
}
.feature-item .item .icon img {
   max-width: 40px;
}
.feature-item .item h2{
    margin: 30px;
    font-size: 18px;
}
.culture{
    width: 100%;
    height: 100vh;
}
.culture-item {
    width: 100%;
    display: flex;
}
.culture-item .content-cul{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-cul-wrapper{
    width: 70%;
}
.content-cul:first-child{
    background-color: rgb(34, 34, 34);
}
.content-cul:last-child{
    background-color: rgb(243, 243, 243);
}
.content-cul:last-child p,.content-cul:last-child h2{
    color: black;
}
.content-cul h2{
    margin: 10px 0;
}
.culture-item .image-cul img{
    width: 100%;
    max-width: 50vw;
}
.culture-item .image-cul{
    object-fit: contain;
}
.blog{
    height: fit-content;
    width: 100%;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-wrapper{
    height: 100%;
    width: 80%;
    padding-bottom: 10vh;
}
.blog-item{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.blog .blog-item .item{
    color: black;
    flex: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.blog-item h1{
    position: relative;
    font-family: 'Akatab', sans-serif;
    font-size: 220px;
    color: rgb(215, 215, 215);
}
.blog-item h3{
    color: black;
    position: absolute;
    margin-top: 130px;
    font-size: 30px;
    letter-spacing: 2px;
}
.blog h4{
    color: black;
    text-align: center;
    font-size: 25px;
    padding: 30px;
}
.blog-item .item h2{
    padding: 10px;
    font-size: 15px;
    color: rgb(71, 146, 178);
}
.blog-item .item p{
    color: black;
    max-width: 15vw;
}
.blog-item .item img{
    min-width: 15vw;
    width: 230px;
    height: 230px;
    object-fit: contain;
}
.above-footer{
    max-width: 100%;
    height: fit-content;
    padding: 8vw 0;
    background-color: rgb(60, 141, 175);
    display: flex;
    justify-content: center;
}
.above-footer-wrapper{
    max-width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.above-footer-wrapper .item{
    max-width: 80%;
    height: 100%;
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.above-footer-wrapper .item p{  
    max-width: 80%;
}
.above-footer-wrapper .item img{
    min-width: 70px;
    min-height: 70px;
    margin: 10px;
}
.footer{
    width: 100%;
    height: 10vh;
    background: url(bg4.png);
    display: flex;
    padding-left: 10vw;
    align-items: center;
}
@media (max-width: 1120px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        z-index: 2000;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 35px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6
    }
    #check:checked ~ ul{
        left: 0;
    }
}    
@media (max-width: 768px){
    .feature{
        width: fit-content;
        height: fit-content;
    }
    .feature-item{
        display: flex;
        flex-direction: column;
    }
    .feature-item .item{
        flex: 12;
        padding: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .feature-item h1{
        position: relative;
        font-family: 'Akatab', sans-serif;
        font-size: 100px;
        text-align: center;
        color: rgb(60, 141, 175);
    }
    .feature-item h3{
        position: absolute;
        z-index: 1;
        font-size: 5px;
        margin-top: 0;
        letter-spacing: 10px;
    }
    .culture-item{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .content-cul{
        padding: 10vw;
        min-width: 100vw;
        flex: 12;
    }
    .image-cul img{
        min-width: 100vw;
    }
    .blog{
        width: fit-content;
        height: fit-content;
        margin-top: 40vh;
    }
    .blog-item{
        display: flex;
        flex-direction: column;
    }
    .blog .blog-item .item{
        color: black;
        flex: 12;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .blog .blog-item .item p{
        min-width: 60vw;
        padding: 10px;
    }
    .blog-item h1{
        margin-top: 250px;
        position: relative;
        font-family: 'Akatab', sans-serif;
        font-size: 100px;
        text-align: center;
        color: rgb(215, 215, 215);
    }
    .blog-item h3{
        color: black;
        position: absolute;
        margin-top: 250px;
        margin-left: 80px;
        font-size: 10px;
        letter-spacing: 5px;
    }
    .above-footer-wrapper{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .above-footer-wrapper .item{
        height: 100%;
        min-width: 80vw;
        flex: 12;
        display: flex;
        flex-direction: column;
    }
}
